<body>
    
    <div>
        <h2>I am a Mathematician. I am a Computer Scientist. I am an Innovator. I am an Empath. I am a Nomad. I am <strong>Olivia Cabello</strong>.</h2>
    </div>
   
   <div>
    <div>
        <h3>The Scientist</h3>
    </div>
    <div>
        <h3>The Inovator</h3>
    </div>
    <div>
        <h3>The Empath</h3>
    </div>
    <div>
        <h3>The Nomad</h3>
    </div>
    <div>
        <h3>Me</h3>
    </div>
   </div>
   
</body>