<!DOCTYPE html>
<html>
  
<header>
  
  <ul>
    <li><a>Welcome</a></li>
    <li><a>Portfolio</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
</header>
  
<body>
  <div>
    <p>I have four seasons, yet I'm never hot and cold. You can find me deep in the ocean, yet I live on the surface. What am I?  </p>
    <button type="button">I don't know. Tell me!</button>
  </div>
  
  
</body>
  
<footer>
 	<ul>
    <li><a href="https://www.linkedin.com/pub/olivia-cabello/8a/725/386">LinkedIn</a> </li>
    <li> <a href="https://github.com/ocabello">GitHub</a> </li>
    <li><a href="">Facebook</a></li>
  </ul>
</footer>

</html>