<!DOCTYPE html>
<html>
  
<body>
  <div class="titleWrapper">
    <h1>Olivia Cabello</h1>
    <p>I'm a fourth year mathematics and computer science student with software development experience.</p>
  </div>
  
    <div class="row">
      <div class="col-md-6 emptyBox">
      </div>
      
      <div class="col-md-6 webBox">
        <h1><a href="#">Web</a></h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 mobileBox">
            <h1><a href="#">Mobile</a></h1>
      </div>
      
      <div class="col-md-6 emptyBox">
      </div>
    </div>

  <footer>

</footer>

</body>

</html>