<!DOCTYPE html>
<html>
  
<body>
  <div class="titleWrapper">
    <h3>Olivia Cabello</h3>
    <p>Olivia Cabello</p>
    <button type="button">View my Work</button>
  </div>
  
  <footer>

</footer>

</body>

</html>