<!DOCTYPE html>
<html>
  
<header>
  
  <ul>
    <li><a>Welcome</a></li>
    <li><a>Portfolio</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
</header>
  
<body>
  <div>
    <p>Olivia Cabello</p>
    <button type="button">View my Work</button>
  </div>
  
  
</body>
  
<footer>
 	<ul>
    <li><a href="https://www.linkedin.com/pub/olivia-cabello/8a/725/386">LinkedIn</a> </li>
    <li> <a href="https://github.com/ocabello">GitHub</a> </li>
    <li><a href="">Facebook</a></li>
  </ul>
</footer>

</html>