<!DOCTYPE html>
<html>
  
<body>
  <div class="titleWrapper">
    <h1>Olivia Cabello</h1>
    <p>A scientific approach to design.</p>
  </div>
  
   <!-- <div class="row">
      <div class="col-md-6 emptyBox">
      </div>
      
      <div class="col-md-6 webBox">
        <h1><a href="/web">Web</a></h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 mobileBox">
            <h1><a href="/mobile">Mobile</a></h1>
      </div>
      
      <div class="col-md-6 emptyBox">
      </div>
    </div> -->
    
    <section class="myWork" >
      <h1>Past Projects</h1>
      <button type="button" class="btn btn-custom">View My Work!</button>
    </section>
    
    <div>
      <section class="Karma">
        <div class="col-md-6">
          <p>Here will go a picture of Karma</p>
        </div>
        <div class="col-md-6">
          <h1>Karma</h1>
          <p>This will be a short description of Karma</p>
          <button type="button" class="btn btn-custom">Read More</button>
        </div>
      </section>
    
      <section class="Pixciter">
        <div class="col-md-6">
          <p>Here will go a picture of Pixciter</p>
        </div>
        <div class="col-md-6">
          <h1>Karma</h1>
          <p>This will be a short description of Pixciter</p>
          <button type="button" class="btn btn-custom">Read More</button>
        </div>
      </section>
    </div>

</body>

</html>