<!DOCTYPE html>
<html>
  
<header>
  
  <ul>
    <li><a>Welcome</a></li>
    <li><a>Portfolio</a></li>
    <li><a>About</a></li>
    <li><a>Contact</a></li>
  </ul>
</header>
  
<body>
  <h1>Olivia Cabello</h1>
  <p>I am a fourth year Computer Science and Mathematics student at Tulane University</p>
  <button type="button">View my Work</button>
</body>
  
<footer>
 	<ul>
    <li><a href="https://www.linkedin.com/pub/olivia-cabello/8a/725/386">LinkedIn Page</a> </li>
    <li> <a href="https://github.com/ocabello">GitHub Page</a> </li>
  </ul>
</footer>

</html>