// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  color: #FFF;
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

#logo:hover {
  color: #428bca;
  text-decoration: none;
}

#link:hover {
  color: #FFF;
}

a:hover {
  text-decoration: none;
  color: #FFF;
}

.btn-custom {
  background: rgba(255, 255, 255, 0.02); 
  border-color: #000; 
  color: #000; 
  font-size: 14px; 
  font-weight: bold;
  border-radius: 4px; 
  border-width: 2px;
  
}

.btn-custom:hover {
  background: rgba(255, 255, 255, 0.02); 
  border-color: #FFF; 
  color: #FFF;
  
}

.btn-custom:active, .btn-custom:focus {
  background: rgba(235, 235, 235, 1);
  border-color: rgba(173, 173, 173, 1); 
  color: rgba(51, 51, 51, 1);
  
}

.myWork{
  height: 100px;
  background-color: #ff6600;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #000;
  padding-bottom: 10px;
}

.myWork h1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.Karma {
  height: 300px;
  background-color: #FFCC00;
}

.Pixciter {
  height: 300px;
  background-color: #2cac21;
  //background-color: #89A194;
}

.emptyBox {
  background-color: #404040;
  background-size: cover;
  padding: 0;
  //height: 250px;
}

.row {
  height: 100%;
  margin-top: 0;
  //margin: none;
}

.col-md-6 {
  margin: none;
  padding: 0;
  height: 250px;
}

.webBox {
  text-align: center;
  color: #000;
  //padding-top: 50%;
  //background-color: #6699FF;
  background-color: #ff6600;
  background-size: cover;
  padding-top: 0;
  //height: 260px;
}

.webBox a {
  color: #000;
}

.webBox a:hover{
  color: #FFF;
}

.mobileBox a {
  color: #000;
}

.mobileBox a:hover{
  color: #FFF;
}

.mobileBox {
  text-align: center;
  //padding-top: 50%;
  background-color: #ff6600;
  padding-top: 0;
  background-size: cover;
  //height: 250px;
}

.mobileBox h1 {
  position: relative;
  padding-top: 12%;
  font-family: Arial, Helvetica, sans-serif;
}

.webBox h1 {
  position: relative;
  padding-top: 12%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

body {


    }
    
.containerLarge {
    padding-left: 0px; 
    padding-right: 0px; 
}

.titleWrapper{
    background-color: #0099FF;
    padding-top: 280px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    height: 520px;
}

.titleWrapper p {
  font-size: 25px;
  color: #404040;
}

.titleWrapper h1 {
  font-size: 2em;
  font-weight: bold;
}

.page-wrapper{
  background: #404040; 
}

.footer{
  background-color: #000;
  color: #FFF;
  height: 100px;
}
    