<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <%= link_to "Olivia Cabello", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/in/cabelloolivia"><img src="../../assets/LinkedIn.png" width="35" height="35"/></a> </li>
            <li> <a href="https://github.com/ocabello"><img src="../../assets/Github.png" width="35" height="35"/></a> </li>
            <li><a href="https://www.facebook.com/olivia.cabello.9"><img src="../../assets/Facebook.png" width="35" height="35"/></a></li>
        </ul>
      </nav>
  </div>
</header>